body {
    overflow-x: hidden !important;
}

#right-reserved {
    color: whitesmoke;
    text-align: left;
}

#dd-by {
    color: whitesmoke;
    text-align: right;
}

.post-tabs {
    background: #0a2048;
}

.nav-pills .nav-link {
    border-radius: 0px !important;
}

.nav-pills .nav-link:hover {
    color: #fff !important;
}

.post-tabs li {
    color: #fff !important;
}

.list-group-item a {
    color: #111f49;
    font-size: 15px;
}

.list-group-item a:hover {
    color: #0a2048;
    text-decoration: underline;
}

.post-published-date {
    font-size: 12px;
    color: #111f49 !important;
    text-wrap: nowrap;
}

.published-date {
    font-size: 12px;
    color: #ffffff !important;
    text-wrap: nowrap;
}

.view-all {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.view-all a {
    color: #111f49 !important;
}

.view-all:hover a {
    color: #f5c900 !important;
}

.highlight {
    font-size: 1.1em;
    color: white;
    background: #2a5bb6;
    text-align: center;
    margin: auto auto;
    overflow: hidden;
}

.highlight-content {
    background-color: #2a5bb6;
    height: 40px;
}

.footer-menu ul li {
    width: 100% !important;
}

.main-bodies {
    text-align: center;
}

.main-body-details {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.team-thumb {
    text-align: center;
}

.team-thumb img {
    width: 60%;
}

.marquee-container {
    overflow: hidden;
    width: 100%;
}

.marquee {
    white-space: nowrap;
    animation: marquee 25s linear infinite;
}

.marquee span {
    display: inline-block;
    padding: 0 20px;
    color: white;
}

.marquee span a {
    color: white;
    font-size: 0.8em;
}

.marquee span a:hover {
    color: #fdc800;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.about-title-section p {
    padding-right: 20px !important;
}

.header-bottom-icon ul li a {
    padding-left: 10px !important;
}

.nav-link.active {
    color: #fff imo !important;
}

.post-content-wrapper {
    display: flex;
}

.post-serial-number {
    background: #2a5bb6;
    color: #fff;
    text-align: left;
    padding: 3px;
    border-radius: 3px;
}

.post-content {
    text-align: left;
    padding-left: 20px;
}

.quick-link {
    border-top: 1px solid #0a2048;
}

.quick-link-item {
    border-bottom: 1px solid #0a2048;
    padding: 10px;
}

.quick-link li a {
    color: #0a2048;
}

.quick-link li a:hover {
    color: #f5c900;
}

.list-group li a:hover {
    color: #f5c900;
}

.video-item {
    padding: 20px;
    display: inline-block;
}

.frontend-img {
    width: 100px;
    border-radius: 10%;
    border: 1px solid;
}

.frontend-img-wrapper {
    display: grid;
    place-items: center !important;
    color: #002147;
}

.frontend-img-wrapper p {
    color: #002147;
    padding: 5px;
}

.table-bordered td,
.table-bordered th {
    vertical-align: middle !important;
}

.logo-brand-wrapper {
    display: flex;
    align-items: center;
    color: #407ffc;
}
* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #01695f;
    text-decoration: none;
}

.facebook-page-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.published-text {
    font-size: 15px;
    color: #2a5bb6;
}

.primary-bg {
    background: #2a5bb6 !important;
}

.main-menu ul li a {
    color: #2a5bb6 !important;
}

.about-title-section h1 {
    color: #3c79ef !important;
}

.main-menu ul li ul.submenu {
    background: #3c79ef !important;
}

.main-menu ul li ul.submenu li a {
    color: #fff !important;
}

.photo-galleries {
    align-items: center;
    justify-content: center;
    display: flex;
}

.photo-galleries-item {
    margin: 10px;
}

.photo-animate {
    overflow: hidden;
    border: 1px solid #00000020;
    /*	padding: 10px;*/
    border-radius: 5px;
}

.photo-animate img {
    height: 250px;
    width: 350px;
    object-fit: cover;
    transition: all ease 1s;
}

.photo-animate:hover img {
    scale: 1.2;
}

h5 a {
    color: #5076f3 !important;
    text-decoration: none;
}

h5 a:hover {
    color: #fdc800 !important;
    text-decoration: underline;
}

.footer-heading h1 {
    color: #fff !important;
}

.photo-gallery-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.photo-gallery-title a {
    color: #5076f3 !important;
}

.photo-gallery-title a:hover {
    color: #fdc800 !important;
    text-decoration: underline;
}

/*.facility-images {
	margin-bottom: 20px;
}*/

.facility-images > img {
    overflow: hidden;
}

.feature-title-heading,
.feature-text {
    text-align: center !important;
}

.feature-title-heading > h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400 !important;
    color: #fff;
}

.feature-text > p {
    margin-top: 10px !important;
    color: blue;
}

.feature-details {
    background-color: #3c79ef;
    border-top: 10px solid #fff;
    border-radius: 0px 0px 10px 10px;
}

.btn-text {
    background-color: #2a5bb6 !important;
    color: #fff !important;
}

#scrollUp {
    background: #e01f1c !important;
}

.btn {
    background: #2a5bb6 !important;
    color: #fff !important;
}

.contact-icon i {
    background-color: #2a5bb6 !important;
    color: #fff;
}

.nav-pills {
    background: #2a5bb6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.course-details-tabs ul li a {
    color: #fff;
}

.course-details-tabs .nav-pills .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #fff;
    color: #fff;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.mean-container .mean-nav {
    background: #3a59b9 none repeat scroll 0 0;
}

.btn-text {
    text-align: center !important;
}

.slider-content-2 {
    margin-bottom: 30px !important;
}

.img-diagonal-border-radius {
    border-radius: 0px 20px 0px 20px;
}

.read-more-btn {
    background: #3c79ef !important;
    padding: 8px !important;
    border-radius: 20px !important;

    background: transparent !important;
    padding: 8px !important;
    border-radius: 20px !important;
    border: 1px solid #3c79ef !important;
    color: #3c79ef !important;
}

.read-more-btn:hover {
    color: #fdc800 !important;
}

.section-header-color {
    color: #2a5bb6 !important;
}

.top-menu-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.modal {
    z-index: 100000;
}

.modal-close-btn {
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    color: #e9363a;
    border: 2px solid #e9363a !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff !important;
    opacity: 1;
    left: 762px;
    top: 5px;
}

.modal-content-wrapper {
    position: relative;
}

.single-footer-contact-info span {
    color: #ffffff;
}

.header-contact span {
    color: #ffffff;
}

.header-social-icon-list ul li a {
    color: #ffffff;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #00000020;
}

.event-wrapper {
    box-shadow: 3px 3px 5px #dee5f1;
}

.posts-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.published-text i {
    margin-right: 5px;
}

.official-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.official-wrapper img {
    border: 3px solid #2a5bb6;
    border-radius: 0px 10px;
    max-width: 460px;
}

.official-wrapper p {
    font-size: 15px;
    line-height: 25px;
}

.header-text-primary {
    color: #2a5bb6 !important;
}

.custom-wrapper {
    background-color: #fff;
}

.custom-thumb {
    position: relative;
}

.custom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.feature-wrapper {
    padding: 10px !important;
    border-left: 0px !important;
    margin-right: 0px !important;
    box-shadow: none !important;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.facility-hover-content {
    display: none;
    position: absolute;
    padding: 10px;
    color: #ffffff;
    background: #2a5bb6;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.facility-hover-content > h5 {
    color: #ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2a5bb6;
}

.feature-wrapper:hover .facility-hover-content {
    display: block;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.text-link {
    color: #2a5bb6 !important;
}

.text-link:hover {
    color: #fdc800 !important;
}

.post-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-download {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.event-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .modal-close-btn {
        left: 345px;
    }

    .google-map iframe {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .modal-close-btn {
        left: 440px;
    }
    .google-map iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .top-menu-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.25rem;
    }

    .google-map iframe {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .top-menu-wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.25rem;
    }

    .modal-close-btn {
        left: 460px;
    }

    .google-map iframe {
        width: 100%;
    }
}

/* custom margin */

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.ms-2 {
    margin-left: 1rem !important;
}

.me-2 {
    margin-right: 1rem !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mx-2 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.my-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.ms-3 {
    margin-left: 0.75rem !important;
}

.me-3 {
    margin-right: 0.75rem !important;
}

.mx-3 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}

.my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.ms-4 {
    margin-left: 1rem !important;
}

.me-4 {
    margin-right: 0.75rem !important;
}

.mx-4 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}

.my-4 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

/* Officials */
.officials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.officials {
    .official-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 6px;
        padding: 10px;

        .official-item-img {
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
            display: inline-block;

            img {
                max-width: 200px;
                width: 100%;
                object-fit: cover;
                padding: 6px;
                display: block;
                -webkit-mask-image: linear-gradient(
                    180deg,
                    #000 55%,
                    transparent 95%
                );
                mask-image: linear-gradient(180deg, #000 55%, transparent 95%);

                transform: scale(1);
                transition: transform 0.4s ease-out;
                will-change: transform;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .official-item-name {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        .official-item-designation-wrapper {
            text-align: center;
            border-bottom: 2px solid #2a5bb6;
            padding-bottom: 10px;
            width: 100%;
            margin-bottom: 10px;

            .official-item-designation {
                margin-bottom: 10px;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 968px) {
    .top-menu-wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.25rem;
    }

    .modal-close-btn {
        left: 460px;
    }

    .modal-lg .modal-content {
        max-width: 500px;
    }
    .google-map iframe {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px to 1024px) */
@media only screen and (min-width: 968px) and (max-width: 1024px) {
    .top-menu-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }

    .modal-close-btn {
        left: 762px;
        top: 5px;
    }
    .google-map iframe {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px to 1024px) */
@media only screen and (min-width: 968px) and (max-width: 992px) {
    .modal-close-btn {
        left: 465px;
        top: 5px;
    }
    .google-map iframe {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 1024px to 1200px) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .top-menu-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }
    .google-map iframe {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 1024px to 1200px) */
@media only screen and (min-width: 1200px) {
    modal-close-btn {
        left: 762px;
        top: 5px;
    }
}
