.list {
    margin-top: 50px;
}

.fieldset-border {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 26px solid #3c8dbc;
    border-bottom: 1px solid #3c8dbc;
    border-left: 1px solid #3c8dbc;
    border-right: 1px solid #3c8dbc;
    padding-bottom: 20px;

    .fieldset-body {
        padding: 10px 15px 10px 15px;
    }
}

.filteration {
    overflow: hidden;
}

.legend-border {
    background-color: #3c8dbc;
    color: #f8f8f8;
    font-size: 18px;
}

#further-details {
    visibility: hidden;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #508cbe !important;
    border: 1px solid #242d32 !important;
    border-radius: 4px !important;
    cursor: default !important;
    float: left !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #ffffff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: bold !important;
    margin-right: 2px !important;
}

.image-container {
    visibility: visible;
}

.image-container-hidden {
    visibility: hidden;
}

.video-container {
    visibility: hidden;
}

tr td .faculty-img {
    border: 1 px solid blue !important;
    border-radius: 50% !important;
}

.embedding-item {
    width: 16rem;
    height: auto;
}

.text-danger {
    color: #f50803 !important;
}

.photos {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.photos > img {
    width: 100px;
    height: auto;
}

.photos-medium > img {
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 200px;
    height: auto;
}

.action-button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.show-on-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ck-editor__editable_inline {
    min-height: 120px; /* ≈ 3 rows */
}

.img-wrapper {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
    height: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.6s ease;
        }
    }
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.m-15 {
    margin: 15px !important;
}

.mx-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.p-0 {
    padding: 0 !important;
}

.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.p-15 {
    padding: 15px !important;
}

.px-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.sidebar {
    padding-bottom: 0 !important;
}
