
.first-border{
	border: 4px solid #801919;
	margin: 20px auto;
}

.second-border{
	border: 2px solid #801919;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.main-wrapper{
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.sheet-body{
	font-weight: 16px;
	font-size: 16px;
	text-align: justify;
	color: blue;
}

.symbol-no{
	color: blue;
}

.header-municipality{
	font-size: 20px;
	font-weight: 20px;
	margin-top: 10px;
}

.header-office{
	font-size: 20px;
	margin-top: 10px;
}

.exam-level{
	font-weight: bold;
	font-size: 20px;
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.grade-sheet{
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
}

.class-no{
	font-size: 25px;
	font-weight: normal;
	padding: 1px;
	margin-top: 10px;
}


.header-row{
	margin:20px auto;
	display: flex;
}

.logo{
	height: auto;
	width: 20%;
	display: block;
	margin: 5px auto;
}

.logo >img{
	height: 160px;
	width: 160px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 10px;

}


.header-content{
	height: auto;
	width: 60%;
	color: blue;
	text-align: center;
	padding: 2px;
	line-height: 25px;
}
.student-image{
	height: auto;
	width: 20%;
	margin-top: 10px;
	float: right;
}

.photo{
	border: 1px solid blue;
	margin: 3px auto;
	height: 150px;
	width: 130px;
}
.photo > h1{
	padding-top: 40px;
	font-size: 25px;
	padding-left: 25px;
}

#symbol-no-row{
	font-weight: bold;
	color:blue;
	font-size: 20px;
	margin: 10px auto;
}

.details-row{
	color:blue;
	margin:10px auto;
	line-height: 20px;
	font-size: 16px;
}

.details-row > p{
	text-align: justify;
	font-size: 20px;
	line-height: 30px !important;
}
.table-row{
	display: grid;
	margin-top: 10px auto;
}

td{
	border: 1px solid black !important;
	text-align: center;
	line-height: 23px !important;
	font-size: 16px;
	padding: 5px !important;
}

th{
	border: 1px solid black !important;
	text-align: center !important;
	line-height: 23px !important;
	font-size: 16px;
	padding: 5px !important;
}

.signature-row{
	margin-top: 50px;
	font-weight: bold;
}

.issue-date-row {
	margin-top: 115px !important;
	display: block;
	margin: 20px auto;
	color: blue;
}
.sign{
	margin: auto;
	color: blue;
	width: 20%;
	float: left;
	font-size: 18px;
	text-align: center;
}

.school-seal{
	margin: auto;
	color: blue;
	width: 25%;
	float: left;
	font-size: 18px;
	text-align: center;
}

.cao-sign{
	margin: auto;
	font-weight: bold;
	color: blue;
	font-size: 18px;
	text-align: center;
	width: 35%;
	float: left;
}

.d-inline-block{
	display: inline-block;
	font-weight: bold !important;
}